<div>
    <div [ngClass]="{'ADDCLASS': isNotifActive}">
        <button></button>
        {{notificationMessage}}
    </div>
    <header>
        <div>
            <h1>Je mets dans ma valise</h1>
            <form [formGroup]="newItemForm" (ngSubmit)="addItemToList()">
                <div>
                    <div>
                        <label for="">Objet</label>
                        <div>
                            <input formControlName="newItemName" type="text" name="label" id="input-object">
                        </div>
                    </div>
                    <div>
                        <label for="">Valise</label>
                        <div>
                            <select formControlName="newItemPlace" name="valise" id="select-valise">
                                <option value="soute">De soute</option>
                                <option value="cabine">De cabine</option>
                                <option value="main">À main</option>
                            </select>
                        </div>
                    </div>
                </div><!-- .columns-->
                <button id="add-object-button">Ajouter</button>
            </form>
        </div>
    </header>
    <main>
        <h2>État</h2>
        <!-- tabstitle -->
        <div>
            <ul>
                <li data-tab="cabine" (click)="activeTab('cabine')" [ngClass]="{'ADD CLASS': activeTabName === 'cabine'}"><a>Valise de cabine&nbsp;(<span id="reste-cabine" class="reste">{{itemNumbers.cabine}}</span>)</a></li>
                <li data-tab="soute" (click)="activeTab('soute')" [ngClass]="{'ADD CLASS': activeTabName === 'soute'}"><a>Valise de soute&nbsp;(<span id="reste-soute" class="reste">{{itemNumbers.soute}}</span>)</a></li>
                <li data-tab="main" (click)="activeTab('main')" [ngClass]="{'ADD CLASS': activeTabName === 'main'}"><a>Sac à main&nbsp;(<span id="reste-main" class="reste">{{itemNumbers.main}}</span>)</a></li>
            </ul>
        </div>
        <!-- end tabstitle -->
        <!-- tabscontent -->
        <!-- tabcontent 1 -->
        <div>
            <app-valise-tab 
            *ngFor="let content of valiseItems | keyvalue; index as id"
            [valiseName]="content.key"
            [valiseContent]="content.value"
            [activeTabName]="activeTabName"
            (checkItemEmit)="checkItem($event)"
            (deleteItemEmit)="deleteItem($event)"
            >
            </app-valise-tab>
        </div>
    </main>
    <footer><p>© P. Charlier - 2023</p></footer>
</div>